/* CSS Document 
@import url("http://fonts.googleapis.com/css?family=Raleway:400,100,800,900,700,600,500,200,300");
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic,900,900italic");

*/

@font-face{
font-family:"Gill Sans W01 Light";
src:url("../fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?iefix") format("eot");}

@font-face{
font-family:"Gill Sans W01 Light";
src:url("../fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?iefix");
src:url("../fonts/c56da29d-9c5b-4d94-900f-770cde3dd317.woff") format("woff"),url("../fonts/378182d1-8021-4674-a814-cc8f01f9a937.ttf") format("truetype"),url("../fonts/d8851d95-478d-47a9-a0b0-a8d8e4ca127a.svg#d8851d95-478d-47a9-a0b0-a8d8e4ca127a") format("svg");
}

@font-face{
font-family:"Gill Sans W01 Medium";
src:url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?iefix") format("eot"); }

@font-face{
font-family:"Gill Sans W01 Medium";
src:url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?iefix");
src:url("../fonts/cd5a93fc-2bb1-48df-8982-11119cd6e270.woff") format("woff"),url("../fonts/b6bdc93b-2720-4c92-b68d-48499456178e.ttf") format("truetype"),url("../fonts/944cce8d-20bf-41c1-ae29-2bc8199859db.svg#944cce8d-20bf-41c1-ae29-2bc8199859db") format("svg");
}

body {
	background: #fffcf8 url(../img/wvi_logo.png) top right fixed no-repeat;
  	font-family: "Gill Sans W01 Medium", Georgia, Times New Roman, serif;
  	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gill Sans W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

input, button, select, textarea {
  	font-family: "Gill Sans W01 Medium", Georgia, Times New Roman, serif;
  	font-size: 15px;
}


::selection	{ background-color: #f48c32; color: #fff; }
::moz-selection { background-color: #f48c32; color: #fff; }
::webkit-selection { background-color: #f48c32; color: #fff; }

.container-fluid.max-width, .max-width {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.nav2 {
	background-color: #333;
	border-bottom: 4px solid #333;
	display: ;
	
	-webkit-box-shadow: inset 0 5px 10px rgba(0,0,0, 0.1);
	-moz-box-shadow: inset 0 5px 10px rgba(0,0,0, 0.1);
	box-shadow: inset 0 5px 10px rgba(0,0,0, 0.2);
}

ul.functions {
	font-family: "Gill Sans W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px auto;
	max-width: 1000px;
	text-transform: uppercase;
}

ul.functions > li {
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

ul.functions > li > a {
	color: #ffffff;
	padding: 5px 0px;
	display: block;
	margin: 0px 40px 0px 0px;
	opacity: 0.3;

}

ul.functions > li.active a, 
ul.functions > li a:hover{
	opacity: 1.0;
}

ul.functions > li.active > a > i {
	position: relative;
}

ul.functions > li.active > a > i:after {
	content: "";
	width: 6px;
	height: 6px;
	background-color: #000;
	bottom: -11px;
	left: 4px;
	position: absolute;
	
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-o-transform: rotate(45deg); /* Opera */
	-moz-transform: rotate(45deg); /* Firefox */
}

ul.functions > li.Lead > a > i {
	color: #939598;
}
ul.functions > li.Lead > a > i:after {
	background-color: #939598;
}
.nav2.Lead {
	border-bottom-color: #939598;
}


ul.functions > li.Plan > a > i {
	color: #fff200;
}
ul.functions > li.Plan > a > i:after {
	background-color: #fff200;
}
.nav2.Plan {
	border-bottom-color: #fff200;
}


ul.functions > li.Implement > a > i {
	color: #ec008c;
}
ul.functions > li.Implement > a > i:after {
	background-color: #ec008c;
}
.nav2.Implement {
	border-bottom-color: #ec008c;
}

ul.functions > li.Resource > a > i {
	color: #008fd5;
}
ul.functions > li.Resource > a > i:after {
	background-color: #008fd5;
}
.nav2.Resource {
	border-bottom-color: #008fd5;
}

ul.functions > li.Facilitate > a > i {
	color: #000;
}
ul.functions > li.Facilitate > a > i:after {
	background-color: #000;
}
.nav2.Facilitate {
	border-bottom-color: #000;
}

ul.functions > li.Protect > a > i {
	color: #00a651;
}
ul.functions > li.Protect > a > i:after {
	background-color: #00a651;
}
.nav2.Protect {
	border-bottom-color: #00a651;
}


.left_col {
}

.right_col {
	background-color: #fff;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	
	border: 1px solid rgba(0,0,0, 0.05);
	
	padding: 15px 35px;
	min-height: 800px !important;
}


#accordion_nav .nav-tabs > li > a, 
.nav-pills > li > a {
	padding-right: 5px;
	padding-left: 5px;
}

#accordion_nav li i {
	width: 20px;	
}

#accordion_nav li.Lead i {
	color: #939598;
}

#accordion_nav li.Plan i {
	color: #fff200;
}

#accordion_nav li.Implement i {
	color: #ec008c;
}

#accordion_nav li.Resource i {
	color: #008fd5;
}

#accordion_nav li.Facilitate i {
	color: #000;
}

#accordion_nav li.Protect i {
	color: #00a651;
}

.footer {
	font-size: 0.8em;
	margin-top: 50px;
}

hr {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#accordion_nav .nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus {
	color: #000;
	background-color: rgba(0,0,0, 0.1);
}

#accordion_nav .nav-pills > li > a:hover{
	color: #000;
	background-color: rgba(0,0,0, 0.06);
}

.overflow_auto {
	overflow: auto;
}

.overflow_auto.well {
	margin-top: 20px;
}

.overflow_auto.well > a.btn {
	color: #333;
}

.main_content {
	margin-bottom: 20px;
}

.main_content > h2 > i.fa {
	color: #ccc;
}

.main_content,
.main_content p, 
.main_content ul > li,
.main_content ol > li,
.main_content dl > dd {
	text-align: left;
	line-height: 1.8em;
}

.main_content img {
	width: 100%;
	margin: 10px 0px;
	border: 1px solid rgba(0,0,0, 0.1);
	
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.main_content img.img-polaroid {
	width: 98%;
	padding: 1%;
	margin: 10px 0px;
	border: 1px solid rgba(0,0,0, 0.1);
	
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.main_content img.img-polaroid:hover {
	background-color: rgba(0,0,0, 0.05);
}

.round_8 {
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.round_8_tr {
	-moz-border-top-right-radius: 8px;
	-khtml-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.round_8_tl {
	-moz-border-top-left-radius: 8px;
	-khtml-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
}

.round_8_br {
	-moz-border-bottom-right-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.round_8_bl {
	-moz-border-bottom-left-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

.container-fluid.max-width-login, 
.max-width-login {
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
	
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
}

.reg {
}

.clear_both {
	clear: both;
}



.tor_tab table ol, 
.tor_tab table ul {
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	
	background-color: transparent;
	margin: 0px 0px 10px 25px;
	padding: 0px 0px 0px 0px;	
}

.main_content ul#sub-functions.nav-tabs > li > a {
	font-size: 0.9em;
	padding-right: 8px;
	padding-left: 8px;
}

.right_col.Implement a, 
.right_col.Implement h1,
.right_col.Implement h2,
.right_col.Implement h3,
.right_col.Implement h4,
.right_col.Implement h5,
.right_col.Implement h6 {
	color: #ec008c;
}

.right_col.Resource a, 
.right_col.Resource h1,
.right_col.Resource h2,
.right_col.Resource h3,
.right_col.Resource h4,
.right_col.Resource h5,
.right_col.Resource h6 {
	color: #008fd5;
}

.right_col.Facilitate a, 
.right_col.Facilitate h1,
.right_col.Facilitate h2,
.right_col.Facilitate h3,
.right_col.Facilitate h4,
.right_col.Facilitate h5,
.right_col.Facilitate h6 {
	color: #000;
}

.right_col.Protect a, 
.right_col.Protect h1,
.right_col.Protect h2,
.right_col.Protect h3,
.right_col.Protect h4,
.right_col.Protect h5,
.right_col.Protect h6 {
	color: #00a651;
}

.right_col.Lead a, 
.right_col.Lead h1,
.right_col.Lead h2,
.right_col.Lead h3,
.right_col.Lead h4,
.right_col.Lead h5,
.right_col.Lead h6 {
	color: #939598;
}

.right_col.Plan a, 
.right_col.Plan h1,
.right_col.Plan h2,
.right_col.Plan h3,
.right_col.Plan h4,
.right_col.Plan h5,
.right_col.Plan h6 {
	color: #cccc33;
}

.well-small.guidance {
	padding: 0px 5px 5px 5px;
	line-height: 0.8em;
	font-size: 0.9em;
}

.well-small.guidance i.fa {
	color: #f48c32;
}

.well-small.guidance > ul,
.well-small.guidance > ol {
	padding: 0px;
	margin: 0px 0px 0px 20px;
}

.well-small.key {
	padding: 0px 5px 5px 5px;
	line-height: 0.8em;
	font-size: 0.9em;
}

.well-small.key i.fa {
	color: #f48c32;
}

.well-small.key > ul,
.well-small.key > ol {
	padding: 0px;
	margin: 0px 0px 0px 10px;
}

.main_content .badge {
	width: 12px;
	text-align: center;
}

.tor_tab table > thead > tr > th {
	text-align: center;
}

.main_content table tr > td,
.main_content table tr > td > ul > li,
.main_content table tr > td > ol > li {
	text-align: left;
}

.main_content table tr > th {
	background-color: rgba(0,0,0, 0.05);
}

.relative {
	position: relative;
}

.kushoto,
.kulia {
	background-color: #fff;
	padding: 20px 15px;
	border: 1px solid rgba(0,0,0, 0.1);
	min-height: 270px !important;
	
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
}

.kushoto {
	padding-left: 30px;
}

.kushoto > img {
	position: absolute;
	top: -26px;
	right: -15px;
}

.kulia form {
	margin: 0px 0px 0px 0px;
}

.accordion-heading .accordion-toggle .fa {
	width: 14px;
	margin-right: 8px;
}

.main_content .table thead tr > th {
	text-align: center;
	font-weight: bold;
}


ul.nav-tabs.sub-functions {
	margin-bottom: 0px;	
}

.tab-content.tab-content-sub-functions {
	padding: 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 4px 4px;
}

.guidance {
	
}

.guidance > .alert {

}

p > a {
	text-decoration: underline;
}

.tooltip {
	font-size: 13px;
}

.btn-resource {
  background-color: hsl(199, 100%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a3ef", endColorstr="#0080bc");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a3ef), to(#0080bc));
  background-image: -moz-linear-gradient(top, #00a3ef, #0080bc);
  background-image: -ms-linear-gradient(top, #00a3ef, #0080bc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a3ef), color-stop(100%, #0080bc));
  background-image: -webkit-linear-gradient(top, #00a3ef, #0080bc);
  background-image: -o-linear-gradient(top, #00a3ef, #0080bc);
  background-image: linear-gradient(#00a3ef, #0080bc);
  border-color: #0080bc #0080bc hsl(199, 100%, 34.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}


.btn-lead {
  background-color: hsl(0, 0%, 66%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c1c1c1", endColorstr="#a8a8a8");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c1c1c1), to(#a8a8a8));
  background-image: -moz-linear-gradient(top, #c1c1c1, #a8a8a8);
  background-image: -ms-linear-gradient(top, #c1c1c1, #a8a8a8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1c1c1), color-stop(100%, #a8a8a8));
  background-image: -webkit-linear-gradient(top, #c1c1c1, #a8a8a8);
  background-image: -o-linear-gradient(top, #c1c1c1, #a8a8a8);
  background-image: linear-gradient(#c1c1c1, #a8a8a8);
  border-color: #a8a8a8 #a8a8a8 hsl(0, 0%, 63.5%);
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-plan {
  background-color: hsl(56, 100%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffef14", endColorstr="#e0d100");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffef14), to(#e0d100));
  background-image: -moz-linear-gradient(top, #ffef14, #e0d100);
  background-image: -ms-linear-gradient(top, #ffef14, #e0d100);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffef14), color-stop(100%, #e0d100));
  background-image: -webkit-linear-gradient(top, #ffef14, #e0d100);
  background-image: -o-linear-gradient(top, #ffef14, #e0d100);
  background-image: linear-gradient(#ffef14, #e0d100);
  border-color: #e0d100 #e0d100 hsl(56, 100%, 41.5%);
  color: #333 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-implement {
  background-color: hsl(324, 100%, 41%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f90095", endColorstr="#d1007d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f90095), to(#d1007d));
  background-image: -moz-linear-gradient(top, #f90095, #d1007d);
  background-image: -ms-linear-gradient(top, #f90095, #d1007d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f90095), color-stop(100%, #d1007d));
  background-image: -webkit-linear-gradient(top, #f90095, #d1007d);
  background-image: -o-linear-gradient(top, #f90095, #d1007d);
  background-image: linear-gradient(#f90095, #d1007d);
  border-color: #d1007d #d1007d hsl(324, 100%, 39%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
  -webkit-font-smoothing: antialiased;
}

.btn-facilitate {
  background-color: hsl(0, 0%, 0%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(#000000, #000000);
  border-color: #000000 #000000 hsl(0, 0%, 0%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-protect {
  background-color: hsl(151, 100%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a856", endColorstr="#00a856");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a856), to(#00a856));
  background-image: -moz-linear-gradient(top, #00a856, #00a856);
  background-image: -ms-linear-gradient(top, #00a856, #00a856);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a856), color-stop(100%, #00a856));
  background-image: -webkit-linear-gradient(top, #00a856, #00a856);
  background-image: -o-linear-gradient(top, #00a856, #00a856);
  background-image: linear-gradient(#00a856, #00a856);
  border-color: #00a856 #00a856 hsl(151, 100%, 33%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.main_content a.tipify > img:hover {
	opacity: 0.2;
	cursor: move;
	border: 1px solid #000;
}


.modal.diagramModal .modal-footer {
	text-align: left;
}

.modal.diagramModal .modal-body {
	padding: 0px;
	max-height: 430px;
}

.well.well_diagram {
	margin-left: 20px;
	margin-right: 20px;
}

.well.well_sample, dl.dl-horizontal.dl-sample {
	font-style: italic;
	color: #666;
}

.well.well_sample span {
	font-weight: bold;
}

dl.dl-horizontal.dl-sample > dd {
	text-align:left;
}

a {
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}