/* CSS Document 
@import url("http://fonts.googleapis.com/css?family=Raleway:400,100,800,900,700,600,500,200,300");
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic,900,900italic");

*/

@font-face{
font-family:"Gill Sans W01 Light";
src:url("../fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?iefix") format("eot");}

@font-face{
font-family:"Gill Sans W01 Light";
src:url("../fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?iefix");
src:url("../fonts/c56da29d-9c5b-4d94-900f-770cde3dd317.woff") format("woff"),url("../fonts/378182d1-8021-4674-a814-cc8f01f9a937.ttf") format("truetype"),url("../fonts/d8851d95-478d-47a9-a0b0-a8d8e4ca127a.svg#d8851d95-478d-47a9-a0b0-a8d8e4ca127a") format("svg");
}

@font-face{
font-family:"Gill Sans W01 Medium";
src:url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?iefix") format("eot"); }

@font-face{
font-family:"Gill Sans W01 Medium";
src:url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?iefix");
src:url("../fonts/cd5a93fc-2bb1-48df-8982-11119cd6e270.woff") format("woff"),url("../fonts/b6bdc93b-2720-4c92-b68d-48499456178e.ttf") format("truetype"),url("../fonts/944cce8d-20bf-41c1-ae29-2bc8199859db.svg#944cce8d-20bf-41c1-ae29-2bc8199859db") format("svg");
}

body {
	background: #ffebd1 url(../img/wvi_logo.png) top right fixed no-repeat;
  	font-family: "Gill Sans W01 Medium", Georgia, Times New Roman, serif;
  	font-size: 15px;
}

body.body_login {
	background: #fab047 url(../img/disaster_01.jpg) top center no-repeat;
	background-size: cover !important;
	height: 100%;
}

strong {
	font-family: "Gill Sans W01 Medium";
	font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gill Sans W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

input, button, select, textarea {
  	font-family: "Gill Sans W01 Medium", Georgia, Times New Roman, serif;
  	font-size: 15px;
}


::selection	{ background-color: #f48c32; color: #fff; }
::moz-selection { background-color: #f48c32; color: #fff; }
::webkit-selection { background-color: #f48c32; color: #fff; }

.container-fluid.max-width, .max-width {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.logo_fixed {
	position: absolute;
	top: 0px;
	right: 0px;
}

.nav2 {
	background-color: #333;
	border-bottom: 4px solid #333;
	display: ;
	
	-webkit-box-shadow: inset 0 5px 10px rgba(0,0,0, 0.1);
	-moz-box-shadow: inset 0 5px 10px rgba(0,0,0, 0.1);
	box-shadow: inset 0 5px 10px rgba(0,0,0, 0.2);
}

ul.functions {
	font-family: "Gill Sans W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px auto;
	max-width: 1000px;
	text-transform: uppercase;
}

ul.functions > li {
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

ul.functions > li > a {
	color: #ffffff;
	padding: 5px 0px;
	display: block;
	margin: 0px 40px 0px 0px;
	opacity: 0.3;

}

ul.functions > li.active a, 
ul.functions > li a:hover{
	opacity: 1.0;
}

ul.functions > li.active > a > i {
	position: relative;
}

ul.functions > li.active > a > i:after {
	content: "";
	width: 6px;
	height: 6px;
	background-color: #000;
	bottom: -11px;
	left: 4px;
	position: absolute;
	
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-o-transform: rotate(45deg); /* Opera */
	-moz-transform: rotate(45deg); /* Firefox */
}

ul.functions > li.Lead > a > i {
	color: #939598;
}
ul.functions > li.Lead > a > i:after {
	background-color: #939598;
}
.nav2.Lead {
	border-bottom-color: #939598;
}


ul.functions > li.Plan > a > i {
	color: #fff200;
}
ul.functions > li.Plan > a > i:after {
	background-color: #fff200;
}
.nav2.Plan {
	border-bottom-color: #fff200;
}


ul.functions > li.Implement > a > i {
	color: #ec008c;
}
ul.functions > li.Implement > a > i:after {
	background-color: #ec008c;
}
.nav2.Implement {
	border-bottom-color: #ec008c;
}

ul.functions > li.Resource > a > i {
	color: #008fd5;
}
ul.functions > li.Resource > a > i:after {
	background-color: #008fd5;
}
.nav2.Resource {
	border-bottom-color: #008fd5;
}

ul.functions > li.Facilitate > a > i {
	color: #000;
}
ul.functions > li.Facilitate > a > i:after {
	background-color: #000;
}
.nav2.Facilitate {
	border-bottom-color: #000;
}

ul.functions > li.Protect > a > i {
	color: #00a651;
}
ul.functions > li.Protect > a > i:after {
	background-color: #00a651;
}
.nav2.Protect {
	border-bottom-color: #00a651;
}


.left_col {
}

.right_col {
	position: relative;
	background-color: #fff;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	
	border: 1px solid rgba(0,0,0, 0.12);
	
	padding: 15px 35px;
}


#accordion_nav .nav-tabs > li > a, 
.nav-pills > li > a {
	padding-right: 5px;
	padding-left: 5px;
}

#accordion_nav li i {
	width: 20px;	
}

#accordion_nav li.Lead i {
	color: #939598;
}

#accordion_nav li.Plan i {
	color: #fff200;
}

#accordion_nav li.Implement i {
	color: #ec008c;
}

#accordion_nav li.Resource i {
	color: #008fd5;
}

#accordion_nav li.Facilitate i {
	color: #000;
}

#accordion_nav li.Protect i {
	color: #00a651;
}

.footer {
	font-size: 0.8em;
	margin-top: 50px;
	color: #999;
}

.footer.footer_login {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.3);

}

.footer ul > li.administrator > a,
.footer a {
	color: #999;
}

.footer.footer_login ul > li.administrator > a,
.footer.footer_login a {
	color: #fff;
}


.footer a:hover {
	text-decoration: underline;
}

hr {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#accordion_nav .nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus {
	color: #000;
	background-color: rgba(0,0,0, 0.1);
}

#accordion_nav .nav-pills > li > a:hover{
	color: #000;
	background-color: rgba(0,0,0, 0.06);
}

.overflow_auto {
	overflow: auto;
}

.overflow_auto.well {
	margin-top: 20px;
}

.overflow_auto.well > a.btn {
	color: #333;
}

.main_content {
	margin-bottom: 20px;
}

.main_content > h2 > i.fa {
	color: #ccc;
}

.main_content,
.main_content p, 
.main_content ul > li,
.main_content ol > li,
.main_content dl > dd {
	text-align: left;
	line-height: 1.8em;
}

.main_content img {
	width: 100%;
	margin: 10px 0px;
	border: 1px solid rgba(0,0,0, 0.1);
	
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.main_content img.img-polaroid {
	width: 98%;
	padding: 1%;
	margin: 10px 0px;
	border: 1px solid rgba(0,0,0, 0.1);
	
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.main_content img.img-polaroid:hover {
	background-color: rgba(0,0,0, 0.05);
}

.round_8 {
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.round_8_tr {
	-moz-border-top-right-radius: 8px;
	-khtml-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.round_8_tl {
	-moz-border-top-left-radius: 8px;
	-khtml-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
}

.round_8_br {
	-moz-border-bottom-right-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.round_8_bl {
	-moz-border-bottom-left-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

.container-fluid.max-width-login, 
.max-width-login {
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
	
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
}

.reg {
}

.clear_both {
	clear: both;
}

.tor_tab table ol, 
.tor_tab table ul {
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	
	background-color: transparent;
	margin: 0px 0px 10px 25px;
	padding: 0px 0px 0px 0px;	
}

.main_content ul#sub-functions.nav-tabs > li > a {
	font-size: 0.9em;
	padding-right: 8px;
	padding-left: 8px;
}

.right_col.Implement a, 
.right_col.Implement h1,
.right_col.Implement h2,
.right_col.Implement h3,
.right_col.Implement h4,
.right_col.Implement h5,
.right_col.Implement h6 {
	color: #ec008c;
}

.right_col table.table-bordered tbody a {
	text-decoration: underline;
}

.right_col table.table-bordered tbody a:hover {
	opacity: 0.6;
}

.right_col.Implement table.table-bordered {
	border-color: #ec008c;
}

.right_col.Implement table.table-bordered th, .right_col.Implement table.table-bordered td {
	border-left-color: #ec008c;
}

.right_col.Implement .main_content table.table-bordered tr > th {
	background-color: #f0c4b5;
}

.right_col.Resource a, 
.right_col.Resource h1,
.right_col.Resource h2,
.right_col.Resource h3,
.right_col.Resource h4,
.right_col.Resource h5,
.right_col.Resource h6 {
	color: #008fd5;
}

.right_col.Resource table.table-bordered {
	border-color: #008fd5;
}

.right_col.Resource table.table-bordered th, .right_col.Resource table.table-bordered td {
	border-left-color: #008fd5;
}

.right_col.Resource .main_content table.table-bordered tr > th {
	background-color: #c1cbe6;
}

.right_col.Facilitate a, 
.right_col.Facilitate h1,
.right_col.Facilitate h2,
.right_col.Facilitate h3,
.right_col.Facilitate h4,
.right_col.Facilitate h5,
.right_col.Facilitate h6 {
	color: #000;
}

.right_col.Protect a, 
.right_col.Protect h1,
.right_col.Protect h2,
.right_col.Protect h3,
.right_col.Protect h4,
.right_col.Protect h5,
.right_col.Protect h6 {
	color: #00a651;
}

.right_col.Protect table.table-bordered {
	border-color: #00a651;
}

.right_col.Protect table.table-bordered th, .right_col.Protect table.table-bordered td {
	border-left-color: #00a651;
}

.right_col.Protect .main_content table.table-bordered tr > th {
	background-color: #d7e8d2;
}

.right_col.Protect .main_content table.table-bordered.tbl-left tr > td:first-child {
	background-color: rgba(0, 166, 81, 0.08);
	min-width: 15px;
}

.right_col.Protect .main_content table.table-bordered.tbl-left tr > th:last-child {
	width: 20%;
}


.right_col.Lead a, 
.right_col.Lead h1,
.right_col.Lead h2,
.right_col.Lead h3,
.right_col.Lead h4,
.right_col.Lead h5,
.right_col.Lead h6 {
	color: #939598;
}
.right_col.Lead a {
	color: #ff6600;
}


.right_col.Plan a, 
.right_col.Plan h1,
.right_col.Plan h2,
.right_col.Plan h3,
.right_col.Plan h4,
.right_col.Plan h5,
.right_col.Plan h6 {
	color: #cccc33;
}

.right_col.Plan table.table-bordered {
	border-color: #cccc33;
}

.right_col.Plan table.table-bordered th, .right_col.Plan table.table-bordered td {
	border-left-color: #cccc33;
}

.right_col.Plan .main_content table.table-bordered tr > th {
	background-color: #fff7cc;
}


.right_col.Orange a, 
.right_col.Orange h1,
.right_col.Orange h2,
.right_col.Orange h3,
.right_col.Orange h4,
.right_col.Orange h5,
.right_col.Orange h6 {
	color: #e6a638;
}

.right_col.Orange table.table-bordered {
	border-color: #e6a638;
}

.right_col.Orange table.table-bordered th, .right_col.Orange table.table-bordered td {
	border-left-color: #e6a638;
}

.right_col.Orange .main_content table.table-bordered tr > th {
	background-color: rgba(230,166,56, 0.3);
}

.right_col.Orange .main_content table.table-bordered.tbl-left tr > td:first-child {
	background-color: rgba(230,166,56, 0.15);
}

.right_col.Orange .main_content table.table-bordered.tbl-left.tbl-matrix tr:first-child > th:first-child {
	background-color: transparent;
}

.right_col.Orange_dark a, 
.right_col.Orange_dark h1,
.right_col.Orange_dark h2,
.right_col.Orange_dark h3,
.right_col.Orange_dark h4,
.right_col.Orange_dark h5,
.right_col.Orange_dark h6 {
	color: #ff6600;
}

.right_col.Orange_dark table.table-bordered {
	border-color: #ff6600;
}

.right_col.Orange_dark table.table-bordered th, .right_col.Orange_dark table.table-bordered td {
	border-left-color: #ff6600;
}

.right_col.Orange_dark .main_content table.table-bordered tr > th {
	background-color: rgba(255,102,0, 0.3);
}

.right_col.Orange_dark .main_content table.table-bordered.tbl-left tr > td:first-child {
	background-color: rgba(255,102,0, 0.15);
}

.right_col.Brown a, 
.right_col.Brown h1,
.right_col.Brown h2,
.right_col.Brown h3,
.right_col.Brown h4,
.right_col.Brown h5,
.right_col.Brown h6 {
	color: #663300;
}

.right_col.Brown table.table-bordered {
	border-color: #663300;
}

.right_col.Brown table.table-bordered th, 
.right_col.Brown table.table-bordered td {
	border-left-color: #663300;
}

.right_col.Brown .main_content table.table-bordered tr > th {
	background-color: rgba(102,51,0, 0.5);
}

.right_col.Brown .main_content table.table-bordered.tbl-left tr > td:first-child {
	background-color: rgba(102,51,0, 0.15);
}

.right_col.Grey a, 
.right_col.Grey h1,
.right_col.Grey h2,
.right_col.Grey h3,
.right_col.Grey h4,
.right_col.Grey h5,
.right_col.Grey h6 {
	color: #999999;
}

.right_col.Grey table.table-bordered {
	border-color: #999999;
}

.right_col.Grey table.table-bordered th, 
.right_col.Grey table.table-bordered td {
	border-left-color: #999999;
}

.right_col.Grey .main_content table.table-bordered tr > th {
	background-color: rgba(153,153,153, 0.5);
}

.right_col.Grey .main_content table.table-bordered.tbl-left tr > td:first-child {
	background-color: rgba(153,153,153, 0.15);
}




.well-small.guidance {
	padding: 0px 5px 5px 5px;
	line-height: 0.8em;
	font-size: 0.9em;
}

.well-small.guidance i.fa {
	color: #f48c32;
}

.well-small.guidance > ul,
.well-small.guidance > ol {
	padding: 0px;
	margin: 0px 0px 0px 20px;
}

.well-small.key {
	padding: 0px 5px 5px 5px;
	line-height: 0.8em;
	font-size: 0.9em;
}

.well-small.key i.fa {
	color: #f48c32;
}

.well-small.key > ul,
.well-small.key > ol {
	padding: 0px;
	margin: 0px 0px 0px 10px;
}

.main_content .badge {
	width: 12px;
	text-align: center;
}

.tor_tab table > thead > tr > th {
	text-align: center;
}

.main_content table tr > td,
.main_content table tr > td > ul > li,
.main_content table tr > td > ol > li {
	text-align: left;
	line-height: 1.8em;
}

.main_content table tr > th {
	background-color: rgba(0,0,0, 0.05);
}

.relative {
	position: relative;
}

.kushoto,
.kulia {
	background-color: #fff;
	padding: 20px 15px;
	border: 1px solid rgba(0,0,0, 0.1);
	min-height: 400px !important;
	
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
}

.kushoto {
	padding-left: 30px;
}

.kushoto > img {
	position: absolute;
	bottom: -7px;
	right: -15px;
}

.kulia form {
	margin: 0px 0px 0px 0px;
}

.accordion-heading .accordion-toggle .fa {
	width: 14px;
	margin-right: 8px;
}

.main_content .table thead tr > th {
	text-align: center;
	font-weight: bold;
}


ul.nav-tabs.sub-functions {
	margin-bottom: 0px;	
}

.tab-content.tab-content-sub-functions {
	padding: 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

.guidance {
	
}

.guidance > .alert {

}

p > a {
	text-decoration: underline;
}

.tooltip {
	font-size: 13px;
}

.btn-resource {
  background-color: hsl(199, 100%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a3ef", endColorstr="#0080bc");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a3ef), to(#0080bc));
  background-image: -moz-linear-gradient(top, #00a3ef, #0080bc);
  background-image: -ms-linear-gradient(top, #00a3ef, #0080bc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a3ef), color-stop(100%, #0080bc));
  background-image: -webkit-linear-gradient(top, #00a3ef, #0080bc);
  background-image: -o-linear-gradient(top, #00a3ef, #0080bc);
  background-image: linear-gradient(#00a3ef, #0080bc);
  border-color: #0080bc #0080bc hsl(199, 100%, 34.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}


.btn-lead {
  background-color: hsl(0, 0%, 66%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c1c1c1", endColorstr="#a8a8a8");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c1c1c1), to(#a8a8a8));
  background-image: -moz-linear-gradient(top, #c1c1c1, #a8a8a8);
  background-image: -ms-linear-gradient(top, #c1c1c1, #a8a8a8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1c1c1), color-stop(100%, #a8a8a8));
  background-image: -webkit-linear-gradient(top, #c1c1c1, #a8a8a8);
  background-image: -o-linear-gradient(top, #c1c1c1, #a8a8a8);
  background-image: linear-gradient(#c1c1c1, #a8a8a8);
  border-color: #a8a8a8 #a8a8a8 hsl(0, 0%, 63.5%);
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-plan {
  background-color: hsl(56, 100%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffef14", endColorstr="#e0d100");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffef14), to(#e0d100));
  background-image: -moz-linear-gradient(top, #ffef14, #e0d100);
  background-image: -ms-linear-gradient(top, #ffef14, #e0d100);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffef14), color-stop(100%, #e0d100));
  background-image: -webkit-linear-gradient(top, #ffef14, #e0d100);
  background-image: -o-linear-gradient(top, #ffef14, #e0d100);
  background-image: linear-gradient(#ffef14, #e0d100);
  border-color: #e0d100 #e0d100 hsl(56, 100%, 41.5%);
  color: #333 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-implement {
  background-color: hsl(324, 100%, 41%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f90095", endColorstr="#d1007d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f90095), to(#d1007d));
  background-image: -moz-linear-gradient(top, #f90095, #d1007d);
  background-image: -ms-linear-gradient(top, #f90095, #d1007d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f90095), color-stop(100%, #d1007d));
  background-image: -webkit-linear-gradient(top, #f90095, #d1007d);
  background-image: -o-linear-gradient(top, #f90095, #d1007d);
  background-image: linear-gradient(#f90095, #d1007d);
  border-color: #d1007d #d1007d hsl(324, 100%, 39%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
  -webkit-font-smoothing: antialiased;
}

.btn-facilitate {
  background-color: hsl(0, 0%, 0%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(#000000, #000000);
  border-color: #000000 #000000 hsl(0, 0%, 0%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-protect {
  background-color: hsl(151, 100%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a856", endColorstr="#00a856");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a856), to(#00a856));
  background-image: -moz-linear-gradient(top, #00a856, #00a856);
  background-image: -ms-linear-gradient(top, #00a856, #00a856);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a856), color-stop(100%, #00a856));
  background-image: -webkit-linear-gradient(top, #00a856, #00a856);
  background-image: -o-linear-gradient(top, #00a856, #00a856);
  background-image: linear-gradient(#00a856, #00a856);
  border-color: #00a856 #00a856 hsl(151, 100%, 33%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.main_content a.tipify > img:hover {
	opacity: 0.2;
	cursor: move;
	border: 1px solid #000;
}


.modal.diagramModal .modal-footer {
	text-align: left;
}

.modal.diagramModal .modal-body {
	padding: 10px;
	max-height: 500px;
}

.well.well_diagram {
	margin-left: 20px;
	margin-right: 20px;
}

.well.well_sample, dl.dl-horizontal.dl-sample {
	font-style: italic;
	color: #666;
}

.well.well_sample span {
	font-weight: bold;
}

.dl-horizontal-small {
}

.dl-horizontal-big {
}

.dl-horizontal-huge {
}

dl.dl-horizontal.dl-horizontal-red > dt {
	color: #ff0000;
}

dl.dl-horizontal.dl-sample > dd {
	text-align:left;
}

a {
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}

.row-alert.row-fluid > .span12 {
	min-height: 0px;
}

.row-alert.row-fluid a.btn {
	text-decoration: none;
}

.row-alert.row-fluid a.btn-danger {
	color: #ffffff;
}

.row-alert.row-fluid h3 {
	margin: 2px 0px;
}

ul.search_ul > li {
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	margin-bottom: 20px;
	padding-bottom: 10px;
}

ul.search_ul > li:last-child {
	border-bottom: 0px;
}

ul.search_ul > li ul.breadcrumb {
	padding: 0px 0px;
	margin: 0 0 0px;
	list-style: none;
	background-color: transparent;
}

ul.search_ul > li p {
	margin-bottom: 5px;
	color: #999;
}

ul.search_ul > li h3 {
	margin: 0px;
	line-height: 1.2em;
}

ul.search_ul > li a:link {
	color: #006699;
}

ul.search_ul > li span a:link, ul.search_ul > li span a:visited {
	color: #ff6600;
}

ul.search_ul > li a:visited {
	color: #609;
}

ul.search_ul > li a:hover {
	text-decoration: underline;
	color: #ff6600;	
}

ul.search_ul > li a:active {

}

.btn-group.admin {
	margin-right: 10px;
}

a.btn.edit {
	color: #fff;
	position: absolute;
	top: 18px;
	right: 38px;
}

a.btn.read_more {
	margin-bottom: 15px;
	color: #999;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
	background-image: -o-linear-gradient(top, #ffffff, #ffffff);
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #cccccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffff', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0);
}

.main_content ul.nav.nav-tabs > li > a,
ul.nav.nav-tabs > li > a {
	background-color: #eeeeee;
	opacity: 0.5;
}

.main_content ul.nav.nav-tabs > li > a:hover,
ul.nav.nav-tabs > li > a:hover {
	opacity: 1.0;
	background-color: #fff;
}

.main_content ul.nav.nav-tabs > li.active > a,
ul.nav.nav-tabs > li.active > a {
	background-color: #fff;
	opacity: 1;
}

ul.diag_tabs {
	margin-top: 20px;
}

ul.diag_tabs.nav-tabs.nav {
	margin-bottom: 0px;
}

.tab-content.tab-content-diagrams {
	padding: 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.tab-content.tab-content-diagrams .well:first-child {
	min-height: 101px;
}

.well_h4 {
	font-style: italic;
}

.modal.diagramModal .modal-body img {
	margin-right: auto;
	margin-left: auto;
}

.biga.main_content > h1{
	font-size: 100px;
}

.main_content .tab-content-diagrams img {
	border: 0px;
}

.main_content .nav.nav-tabs > li > a {
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
}

a.anchor {

}

.btn-gray {
  background-color: hsl(22, 12%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#695b53", endColorstr="#695b53");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#695b53), to(#695b53));
  background-image: -moz-linear-gradient(top, #695b53, #695b53);
  background-image: -ms-linear-gradient(top, #695b53, #695b53);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #695b53), color-stop(100%, #695b53));
  background-image: -webkit-linear-gradient(top, #695b53, #695b53);
  background-image: -o-linear-gradient(top, #695b53, #695b53);
  background-image: linear-gradient(#695b53, #695b53);
  border-color: #695b53 #695b53 hsl(22, 12%, 37%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

a.btn.btn-gray:hover {
	color: #333 !important;
}

ul.holla {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

ul.holla > li > a > i.fa {
	margin-right: 8px;
}

ul.holla > li:nth-child(2) {
	display: none;
}

a.btn.btn-download {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 20px;
	float: none;
}

.red_font {
	color: #ff0000;
}

.modal-body {
	padding: 15px 35px;
}

ul.ul_help {
	overflow: auto;
}

ul.ul_help > li {
	padding-left: 0px;
	padding-right: 0px;
}

ul.ul_help > li > a.btn {
	margin-bottom: 15px;
}

ul.ul_help > li.span6:nth-child(2n+3) {
	margin-left: 0px;
}

.login > .kushoto {
	background: #fff url(../img/wvi_logo_small.png) top right no-repeat;
	border: 0px;
	padding-top: 60px;
}

.login > .kushoto > h2 {
	font-size: 28px;
}

hr.divide {
	margin-left: -30px;
	margin-right: -15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.ul_benefits {
	color: #999;
	margin-left: 15px;
}

ul.checkbox_ul {
	margin-left: 20px;
}

.well.well_login {
	padding: 10px;
}

.navbar-login h5 {
	color: #fff;
}

.navbar-inverse a {
	color: #fff;
}

.navbar2 {
	z-index: 1;
}

.navbar2 .max-width {
	background-color: #fff;
	margin-bottom: 10px;
		
	-moz-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;

	-moz-border-bottom-left-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
		
	border-bottom: 1px solid rgba(0,0,0, 0.01);
	border-left: 0px solid rgba(0,0,0, 0.01);
	border-right: 0px solid rgba(0,0,0, 0.01);
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.12);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.12);
	box-shadow: 0 1px 1px rgba(0,0,0, 0.12);

}

.navbar2 ul.ul_navbar2 {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 10px;
}

.navbar2 ul.ul_navbar2 > li {
	border-right: 1px solid rgba(0,0,0, 0.1);
	padding-left: 10px;
	padding-right: 10px;
	
	
}

.navbar2 ul.ul_navbar2 > li:last-child {
	border-right: 0px;
}


.navbar2 ul.ul_navbar2 > li > a {
	display: block;
	padding: 10px 0px;
	color: #ccc;
	text-decoration: none;
}

.navbar2 ul.ul_navbar2 > li > a:hover {
	color: #f48c32;
}

.navbar2 ul.ul_navbar2 > li.active > a {
	color: #ff6600;
	position: relative;
	cursor: default;
	
}

.navbar2 ul.ul_navbar2 > li.active > a:after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0px;
	width: 100%;
	height: 3px;
	background: #ff6600;
}

form.form-search.form-search-nav {
	margin-top: 6px;
	margin-bottom: 0px;
	margin-right: 5px;
	margin-left: 0px;
}

form.form-search.form-search-nav input.search-query{
	background-color: #dc5b04;
	border: 0px;
	margin: 0px;
	color: #fff;
}

form.form-search.form-search-nav input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(255,255,255, 0.5);
}

form.form-search.form-search-nav input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(255,255,255, 0.5);
}

form.form-search.form-search-nav input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.5);
}

.row-alert .alert-info {
	display: none;
}

ul.ul_mru.nav.nav-tabs > li h4 {
	margin: 5px 0px;
}

ul.ul_mru.nav.nav-tabs {
	margin-bottom: 0px;
}

ul.ul_mru.nav.nav-tabs > li {
	margin-right: 5px;
}

ul.ul_mru.nav.nav-tabs > li.active > a {
	background-color: #fff;
	color: #f48c32;
}

ul.ul_mru.nav.nav-tabs > li > a {
	background-color: #f0d7b6;
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(0,0,0, 0.5);
}

ul.ul_mru.nav.nav-tabs > li > a:hover {
	background-color: #fff;
	color: #f48c32;
}

.mru {
	background-color: #fff;
	padding: 10px 20px 10px 20px;
	
	-moz-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;

	-moz-border-bottom-left-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
		
	border-bottom: 1px solid rgba(0,0,0, 0.12);
	border-left: 1px solid rgba(0,0,0, 0.12);
	border-right: 1px solid rgba(0,0,0, 0.12);
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
}

table.mru_tbl {
	margin-bottom: 30px;
}

table.mru_tbl tbody > tr > td {
	font-size: 13px;
	color: #999;
}

table.mru_tbl tbody > tr > td h5 {
	color: #ff6600;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 3px;
}

table.mru_tbl tbody > tr > td a:link,
table.mru_tbl tbody > tr > td a:visited {
	color: #999;
	text-decoration: underline;
}

table.mru_tbl tbody > tr > td a:hover,
table.mru_tbl tbody > tr > td a:active {
	color: #f48c32;
	text-decoration: none;
}

table.mru_tbl tbody > tr:hover > td {
	color: #000;
}

table.mru_tbl tbody > tr:hover > td > a {
	color: #f48c32;
}

table.mru_tbl tbody > tr > td .desc {
	font-style: italic;
}

table.mru_tbl tbody > tr > td a {
	display: block;
}

table.mru_tbl thead > tr > th.th_guidance {
	width: 50%;
}

table.mru_tbl thead > tr > th.th_links {
	width: 20%;
}

table.mru_tbl thead > tr > th.th_gate {
	width: 10%;
}

table.mru_tbl thead > tr > th.th_person {
	width: 15%;
}

.dm_intro {
	background-color: #fff;
	padding: 0px 20px 20px 20px;
	margin-bottom: 15px;
	
	-moz-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;

	-moz-border-bottom-left-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
		
	border-bottom: 1px solid rgba(0,0,0, 0.12);
	border-left: 1px solid rgba(0,0,0, 0.12);
	border-right: 1px solid rgba(0,0,0, 0.12);
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
}

.dm_intro .img {
	background: #ccc center center no-repeat;
	background-size: cover;
	min-height: 150px;
	margin-left: -20px;
	margin-right: -20px;
	position: relative;
	
	-moz-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	
	-moz-border-top-left-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}

.dm_intro .img:after {
	position: absolute;
	content: '';
	bottom: -5px;
	left: 32px;
	width: 10px;
	height: 10px;
	background-color: #fff;
	
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-o-transform: rotate(45deg); /* Opera */
	-moz-transform: rotate(45deg); /* Firefox */
}

.dm_intro h2,
.dm_intro h3 {
	color: #f48c32;
	margin-top: 15px;
	margin-bottom: 5px;
}

.dm_intro h2 > i,
.dm_intro h3 > i{
	color: #ccc;
}

#homeCarousel.carousel .carousel-inner {
	background-color: rgba(0,0,0, 0.1);
}

.row-fluid-icons > div {
	text-align: center;
}

.row-fluid-icons > div > h1 {
	color: #f48c32;
	text-shadow: 1px 2px 0px #fff;
}

.row-fluid-icons > div > a:link,
.row-fluid-icons > div > a:visited {
	color: #000;
}

.row-fluid-icons > div > a:hover,
.row-fluid-icons > div > a:active {
	color: #999;
	text-decoration: underline;
}

.pane {
	background-color: #fff;
	padding: 10px;
	border: 1px solid rgba(0,0,0, 0.12);
	margin-bottom: 10px;

	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;	
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	
}

.pane.pane-intro {
	position: relative;
	margin-bottom: 15px;
}

.pane.pane-intro:after {
	position: absolute;
	content: '';
	top: -8px;
	left: 50%;
	width: 16px;
	height: 16px;
	background-color: #fff;
	
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-o-transform: rotate(45deg); /* Opera */
	-moz-transform: rotate(45deg); /* Firefox */
}

.pane.pane-intro > p {
	font-weight: lighter;
	color: #999;
}

.row-fluid.row-fluid-icons {
	margin-bottom: 20px;
}

.pane.pane_insights {
	min-height: 260px;
	color: #999;
}

.pane.pane_insights h5 {
	background-color: rgba(0,0,0, 0.1);
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	padding: 5px 5px 5px 10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	color: #000;
	
	-moz-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	
	-moz-border-top-left-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}

.pane.pane_insights ul > li {
	border-bottom: 1px dashed rgba(0,0,0, 0.1);
	padding-top: 3px;
	padding-bottom: 3px;
}

.pane.pane_insights ul > li i {
	color: #ccc;
}

.mru .pagination {
	border-top: 1px solid rgba(0,0,0, 0.10);
	background-color: rgba(0,0,0, 0.02);

	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: -10px;
}

.main_col {
	background-color: #fff;
	min-height: 500px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	
	border: 1px solid rgba(0,0,0, 0.12);
	
	padding: 15px 35px;
}

.main_col.main_col_copy {
	padding-bottom: 50px;
	padding-top: 50px;
}

table tbody tr td ul,
table tbody tr td ol {
	    margin: 0 0 10px 15px;
}

.dl-horizontal-smallest {
	}
	
.right_col table.table tr > td h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

table.table-bordered.tbl-left tbody tr > td:first-child {
    background-color: rgba(0, 0, 0, 0.05);
}

.highlight {
	background-color: #FF0;
}